{{pillar['headers']['salt']['file']}}
# Comment
tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ data_dir }}
dataLogDir={{ dataLog_dir }}
clientPort={{ port }}

{% if zookeepers|length() == 1 %}
clientPortAddress={{ bind_address }}
{%- else %}
{%- for garbage_string in zookeepers %}
{%- set myid, mynodename = garbage_string.split('+') %}
server.{{ myid }}={{ mynodename }}:2888:3888
{%- endfor %}
{%- endif %}
